.vehicle__infoWrapper {
  display: flex;
  justify-content: space-between;
}

.vehicle__name {
  font-weight: bold;
}

.vehicle__status {
  background-color: #43d543;
  padding: 3px 10px;
  border-radius: 25px;

  &--both {
    background-color: #ff7070;
  }

  &--warning {
    background-color: #ffc65e;
  }

  &--error {
    background-color: #ff7070;
  }
}

.vehicle__btn {
  width: 140px;
  padding: 0 5px;
  border: none;
  border-radius: 25px;
  background-color: #e5eeff;
}

.vehicle__devicesWrapper {
  padding: 15px 0 0 45px;
}


.vehicle__devicesTitle{
  margin-bottom: 20px;
  text-decoration: underline;
}

.vehicle__listItem:not(:last-child) {
  margin-bottom: 20px;
}