.vehicle__infoWrapper {
  display: flex;
  justify-content: space-between;

  @media(max-width: 800px){
    gap: 30px;
  }
}

.vehicle__name {
  font-weight: bold;
}

.vehicle__status {
  background-color: #43d543;
  padding: 3px 10px;
  border-radius: 25px;

  &--both {
    background-color: #ff7070;
  }

  &--warning {
    background-color: #ffc65e;
  }

  &--error {
    background-color: #ff7070;
  }

  @media(max-width:800px){
    padding: 3px 15px;
    border-radius: 22px;
  }
}

.vehicle__btn {
  width: 140px;
  padding: 0 5px;
  border: none;
  border-radius: 25px;
  background-color: #e5eeff;
}

.vehicle__devicesWrapper {
  padding: 15px 0 0 45px;

  @media(max-width: 1024px){
    padding: 15px 0 0 35px;
  }

  @media(max-width: 800px){
    padding: 15px 0 0 15px;
  }
}


.vehicle__devicesTitle{
  margin-bottom: 20px;
  text-decoration: underline;
}

.vehicle__listItem:not(:last-child) {
  margin-bottom: 20px;

  @media(max-width: 800px){
    margin-bottom: 30px;
  }
}