.device__infoWrapper {
  display: flex;
  justify-content: space-between;
}

.device__name {
  font-weight: bold;
}

.device__info {
  margin-left: 10px;
  color: red;
}

.device__componentsWrapper {
  padding: 15px 0 0 45px;
}

.device__componentsTitle {
  text-decoration: underline;
  margin-bottom: 20px;
}

.device__listItem {
  margin-bottom: 20px;
}