.device__infoWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.device__nameWrapper {
  display: flex;
  gap: 10px;
}

.device__name {
  font-weight: bold;
}

.device__info {
  margin-left: 10px;
  color: #ff7070;
}

.device__btn {
  width: 140px;
  border: none;
  background-color: #e5eeff;
  border-radius: 25px;
}

.device__componentsWrapper {
  padding: 15px 0 0 45px;

  @media(max-width: 1024px){
    padding: 15px 0 0 35px;
  }

  @media(max-width: 800px){
    padding: 15px 0 0 15px;
  }
}

.device__componentsTitle {
  text-decoration: underline;
  margin-bottom: 20px;
}

.device__listItem {
  margin-bottom: 20px;
}