.mainPage__container{
  height: 75vh;
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid lightgray;
  border-radius: 25px;
  box-shadow: 0 5px 15px -10px rgb(0 0 0 / 30%);
  background-color: #fbfbfb;
  overflow: auto;
}

.mainPage__searchWrapper{
  margin-bottom: 20px;
  text-align: center;
}

.vehicleList {
  padding: 10px;
  overflow: auto;
}

.vehicleList__item {
  margin: 20px 0 20px 0;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 25px;
  list-style: none;
}