* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eef0f5;
  color: #374b52;

  @media(max-width: 1024px){
    font-size: 14px;
  }

  @media(max-width: 800px){
    font-size: 12px;
  }
}