.singleComponent__infoWrapper {
  display: flex;
  justify-content: space-between;
}

.singleComponent__name {
  font-weight: 500;
}

.singleComponent__info {
  margin-left: 10px;
  color: #ff7070;
}

.singleComponent__btn {
  width: 70px;
  border: none;
  background-color: #e5eeff;
  border-radius: 25px;
}

.singleComponent__componentsWrapper {
  padding: 15px 0 0 15px;
}

.singleComponent__componentsTitle {
  text-decoration: underline;
  margin-bottom: 5px;
}

.singleComponent__warningMessage {
  color: #ffc65e;;
}

.singleComponent__errorMessage{
  color: #ff7070;
}

.singleComponent__listItem {
  margin-bottom: 10px;
}